<h1>Welcome to the button counter!</h1>
<a class="btn btn-default" href="/button_counter?count=<%= @counter + 1 %>" role="button">Imma' count all your clicks</a>
<h2> You've clicked the button <%= @counter %> times!</h2>