<%= form_tag 'guess_number_target', method: :post do %>
  <div>
    <%= label_tag :number, "Guess a number!" %>
    <%= text_field_tag :number %>
  </div>
  <div>
    <%= submit_tag "SUBMIT YOUR GUESS!!! If you dare..." %>
  </div>
<% end %>